.mainCards {
    padding: 40px 20px;
    margin: 10px 25px;
  }
  
  .mainTBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 35px;
    margin-right: 2%;
  }
  
  .mainTBtn h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .mainTBtn button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mainTBtn button:hover {
    background-color: #c9302c;
  }